<div class="jumbotron">
  <h1>League of Legends Champions Mini-Database</h1>
  <button type="button" class="btn" (click)="createNewChamp()">Create New Champion</button>
</div>
<app-champion-edit [childSelectChampion]="selectedChampion" (clickSaveChanges)="finishEdit()"></app-champion-edit>
<app-champion-add [childNewChampClicked]="newChampClicked" (childSendNewInfo)="createNewChampion($event)"></app-champion-add>
<app-champion-list [champList]="masterChampList" (clickEdit)="editClicked($event)"></app-champion-list>
